-- -- -- --
**JaLBOT (BETA) Discord Bot Commands:**
__**Available Commands:**__

__**Interative Commands (@x shoots @y)**__
- !pet. !dank, !shoot, !chill

__**Commands**__
**!gif <image tags>**
    returns a random gif matching the tags passed
**!game <name of game>**
    pings channel asking if anyone wants to play
**!reddit [subreddit]**
    Returns the top post on reddit. Can optionally pass a subreddit to get the top psot there instead
**!youtube <video name>**
    gets youtube video matching tags
**!steam**
    Steam Community Group
**!lasttweet**
    Last Tweet From Timmac Twitter
**!bd**
    information about BetterDiscord
**!hype**
     timmacHYPE Animated 
**!timmac**
    Link To Timmac Stream
**!shroomz**
    Link To Shroomz Stream
**!floppy**
    Link To Floppy Pancakes Stream
**!honyolo**
    Link To Hon Yolo Stream 
**!monty**
    Link To Monty Brython Stream
**!jounie**
    Link To Jounie's Stream
**!ping**
    responds pong, useful for checking if bot is alive
	
*If you have any suggestions for new commands or features, message JaLBP with your idea*